@page
@model ItemMaster.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemCodeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].CustomerDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].SalesItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].StockItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].PurchasedItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ManageItemBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].MinimumInventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].MaximumInventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCodeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasedItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManageItemBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumInventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumInventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    <img src="~/images/@item.ImagePath"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
